<div class="container">
  <div class="left-col" #menu>
    <nav class="menu" #nav [@openClose]="isOpen ? 'open' : 'closed'">
      <img src="/assets/arrow.svg" (click)="toggle()" class="back-button" />
      <ul>
        <li><a href="#" class="selected">Home</a></li>
        <li>
          <a href="#">My stats</a>
        </li>
        <li>
          <a href="#">Members</a>
        </li>
        <li>
          <a href="#">Settings</a>
        </li>
        <li>
          <a href="#">Help</a>
        </li>
      </ul>
    </nav>
  </div>
  <section>
    <header>
      <img src="/assets/menu.svg" href="#" (click)="toggle()" class="menu-button" />
      <p class="logo">Logo</p>
    </header>
    <div class="cv">
      <div class="content">
        <h1>Data analytics</h1>
        <p>Making sense of your traffic</p>
        <a class="stats-button">Go to my stats</a>
      </div>
    </div>
  </section>
</div>
