<div class="container">
  <div class="left-col" #menu>
    <a class="hide-menu-button" (click)="handleClickMenu()">
      <img src="/assets/arrow.svg" />
    </a>
    <a href="#" class="selected">Home</a>
    <a href="#">My stats</a>
    <a href="#">Members</a>
    <a href="#">Settings</a>
    <a href="#">Help</a>
  </div>
  <div class="right-col">
    <div class="header">
      <img src="/assets/menu.svg" href="#" (click)="handleClickMenu()" />
      <span class="logo">Logo</span>
    </div>
    <div class="content">
      <div>
        <h1>Data analytics</h1>
        <p>Making sense of your traffic</p>
        <a class="stats-button">
          <img src="/assets/arrow.svg" />
          <span>
            Go to my stats
          </span>
        </a>
      </div>
    </div>
  </div>
</div>
