<section class="gallery">
  <div class="footage-content">
    <h2>Last year's footage</h2>
    <p>With over 5,000 participants, 2020 featured some of the most amazing drone races from the most competitive field ever seen.</p>
    <p>In 2021, we’re about to double the excitement with 10,000 race participants and 100,000 fans!</p>
  </div>
  <div class="gallery-container">
    <img src="./assets/footage-1.jpg">
    <img src="./assets/footage-2.jpg">
    <img src="./assets/footage-3.jpg">
    <img src="./assets/footage-4.jpg">
    <img src="./assets/footage-5.jpg">
  </div>
</section>
