a {
  display: flex;
}

div.container {
  background-color: #383A45;
  border-radius: .4rem;
  padding: 1rem;
  margin: 1rem;
  max-width: 729px;
  font-size: 16px;
}

img.photo {
  width: 262px;
  border-radius: 8px;
  margin-right: 1rem;
}

p.title {
  color: white;
  font-size: 1.2rem;
}

p.description {
  color: #8D91A6;
  font-size: .8rem;
}

.link {
  width: .8rem;
}

@media only screen and (max-width: 500px) {
  img.photo {
    width: 100%;
  }

  a {
    display: inline;
  }

  div.container {
    max-width: 300px;
    font-size: 18px;
  }
}
