.menu-btn {
  width: 2.5em;
  cursor: pointer;
}

.top-bg-container {
  height: 100vh;
  position: absolute;
  width: 90%;
  top: 0;
  right: 0;
  display: grid;
  grid-template-columns: 80% auto;
  z-index: -1;
}

.light-streaks {
  background: #B2DD9E url("/assets/streaks.jpg");
  background-blend-mode: screen;
  background-size: cover;
  height: 100vh;
}

.blue-col {
  background-color: #7988BE;
}

.container {
  margin: 0 1em;
}

nav {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: inline-block;
  background-color: black;
  padding: .2em .4em;
  color: white;
  font-size: 1.8rem;
}

.logo span {
  color: #6889FF;
}

nav ul {
  position: fixed;
  top: 0;
  right: 0;
  width: 66%;
  background-color: #363B4E;
  height: 100vh;
  z-index: 2;
  padding: 2em 0;
  transform: translateX(100%);
}

nav ul li a {
  color: white;
  display: block;
  padding: .4em 1.5em;
  font-size: 1.5rem;
  text-align: right;
}

.exit-btn {
  text-align: right;
}

.exit-btn img {
  width: 2em;
  margin: 2em;
  cursor: pointer;
}

.content {
  text-align: center;
  margin: 8em 3em 0;
  height: 75vh;
}

h1 {
  font-size: 3rem;
  font-weight: normal;
  line-height: 92%;
}

.type p {
  font-family: 'Montserrat', serif;
  font-size: 1.125rem;
  line-height: 141.6%;
}

.drone-container {
  position: relative;
  margin: 5em auto;
  width: 65%;
}

.blur, .drone {
  position: absolute;
  left: 0;
  z-index: 1;
}

.blur {
  top: 1em;
  opacity: .5;
}

@media only screen and (min-width: 900px){
  .top-bg-container {
    width: 80%;
    grid-template-columns: 60% auto;
  }

  .container {
    width: 80%;
    margin: 0 auto;
  }

  .content {
    display: flex;
    text-align: left;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
  }

  h1 {
    font-size: 5rem;
    width: 80%;
  }

  .type p {
    width: 80%;
  }

  /* NAV */
  .menu-btn, .exit-btn {
    display: none;
  }

  nav ul {
    transform: translateX(0);
    width: unset;
    background: none;
    display: flex;
    padding-top: 1em;
    padding-bottom: 0;
    position: unset;
    height: auto;
  }

  nav ul li a {
    font-size: 1rem;
    padding: 0 1em;
  }
}
