* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --text-color: #565656;
  --primary-color: #008AD8;
}

body {
  background: #F4F4F4;
  font-family: 'Lexend Deca', sans-serif;
}


