<div class="container" #container>
  <header>
    <div class="headings">
      <h1>Available cars</h1>
      <p>There are 15 cars that match your criteria</p>
    </div>
    <div class="options">
      <div class="icons">
        <input type="text" class="search" />
        <img src="/assets/menu.svg" class="menu" />
      </div>
      <div class="filter" [@openClose]="isOpen ? 'open' : 'closed'" #filter>
        <div class="chk-container">
          <input type="checkbox" id="new" />
          <label for="new">New cars</label>
        </div>
        <div class="chk-container">
          <input type="checkbox" id="used" />
          <label for="used">Used cars</label>
        </div>
        <div class="chk-container">
          <input type="checkbox" id="dealership" />
          <label for="dealership">Dealership</label>
        </div>
        <div class="chk-container">
          <input type="checkbox" id="owner" />
          <label for="owner">For sale by owner</label>
        </div>
      </div>
    </div>
  </header>
  <main>
    <div class="labels">
      <p class="lbl-details">Car details</p>
      <p class="lbl-location">Location</p>
      <p class="lbl-price">Price</p>
      <p class="lbl-action">Action</p>
    </div>
    <div class="cars">
      <a href="#" class="car-name">2017 Toyota Highlander V4</a>
      <p class="car-location">My address 777, Almaty</p>
      <div class="cols2">
        <p class="car-price">$17 000</p>
        <fa-icon [icon]="['far', 'heart']" [size]="'lg'" #icon1 (click)="toggleHeart(icon1)"></fa-icon>
      </div>
    </div>
    <div class="cars">
      <a href="#" class="car-name">2017 Toyota Highlander V4</a>
      <p class="car-location">My address 777, Almaty</p>
      <div class="cols2">
        <p class="car-price">$17 000</p>
        <fa-icon [icon]="['far', 'heart']" [size]="'lg'" #icon2 (click)="toggleHeart(icon2)"></fa-icon>
      </div>
    </div>
    <div class="cars">
      <a href="#" class="car-name">2017 Toyota Highlander V4</a>
      <p class="car-location">My address 777, Almaty</p>
      <div class="cols2">
        <p class="car-price">$17 000</p>
        <fa-icon [icon]="['far', 'heart']" [size]="'lg'" #icon3 (click)="toggleHeart(icon3)"></fa-icon>
      </div>
    </div>
    <div class="cars">
      <a href="#" class="car-name">2017 Toyota Highlander V4</a>
      <p class="car-location">My address 777, Almaty</p>
      <div class="cols2">
        <p class="car-price">$17 000</p>
        <fa-icon [icon]="['far', 'heart']" [size]="'lg'" #icon4 (click)="toggleHeart(icon4)"></fa-icon>
      </div>
    </div>
    <div class="cars">
      <a href="#" class="car-name">2017 Toyota Highlander V4</a>
      <p class="car-location">My address 777, Almaty</p>
      <div class="cols2">
        <p class="car-price">$17 000</p>
        <fa-icon [icon]="['far', 'heart']" [size]="'lg'" #icon5 (click)="toggleHeart(icon5)"></fa-icon>
      </div>
    </div>
  </main>
</div>
