<div class="container">
  <header>
    <div class="headings">
      <h1>Available cars</h1>
      <p>There are 15 cars that match your criteria</p>
    </div>
    <div class="options">
      <input type="text" class="search" />
      <img src="/assets/menu.svg" class="menu" />
    </div>
    <div class="filter">
      <div class="chk-container">
        <input type="checkbox" id="new" />
        <label for="new">New cars</label>
      </div>
      <div class="chk-container">
        <input type="checkbox" id="used" />
        <label for="new">Used cars</label>
      </div>
      <div class="chk-container">
        <input type="checkbox" id="dealership" />
        <label for="new">Dealership</label>
      </div>
      <div class="chk-container">
        <input type="checkbox" id="owner" />
        <label for="new">For sale by owner</label>
      </div>
    </div>
  </header>
  <main>
    <div class="labels">
      <p class="lbl-details">Car details</p>
      <p class="lbl-location">Location</p>
      <p class="lbl-price">Price</p>
      <p class="lbl-action">Action</p>
    </div>
    <div class="cars">
      <a href="#" class="car-name">2017 Toyota Highlander V4</a>
      <p class="car-location">My address 777, Almaty</p>
      <div class="cols2">
        <p class="car-price">$17 000</p>
        <i class="far fa-heart fa-lg"></i>
      </div>
    </div>
    <div class="cars">
      <a href="#" class="car-name">2017 Toyota Highlander V4</a>
      <p class="car-location">My address 777, Almaty</p>
      <div class="cols2">
        <p class="car-price">$17 000</p>
        <i class="far fa-heart fa-lg"></i>
      </div>
    </div>
    <div class="cars">
      <a href="#" class="car-name">2017 Toyota Highlander V4</a>
      <p class="car-location">My address 777, Almaty</p>
      <div class="cols2">
        <p class="car-price">$17 000</p>
        <i class="far fa-heart fa-lg"></i>
      </div>
    </div>
    <div class="cars">
      <a href="#" class="car-name">2017 Toyota Highlander V4</a>
      <p class="car-location">My address 777, Almaty</p>
      <div class="cols2">
        <p class="car-price">$17 000</p>
        <i class="far fa-heart fa-lg"></i>
      </div>
    </div>
    <div class="cars">
      <a href="#" class="car-name">2017 Toyota Highlander V4</a>
      <p class="car-location">My address 777, Almaty</p>
      <div class="cols2">
        <p class="car-price">$17 000</p>
        <i class="far fa-heart fa-lg"></i>
      </div>
    </div>
  </main>
</div>
