<h1> {{room?.id == null ? 'Add' : 'Edit'}} Room</h1>

<form [formGroup]="roomForm!" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" placeholder="room name" formControlName="roomName" required="required">
    <div class="alert alert-danger" *ngIf="roomForm!.controls.roomName.invalid && roomForm!.controls.roomName.dirty">Room name cannot be blank</div>

  </div>
  <div class="form-group">
    <label for="location">Location</label>
    <input type="text" class="form-control" id="location" placeholder="location" formControlName="location" required="required">
    <div class="alert alert-danger" *ngIf="roomForm!.controls.location.invalid && roomForm!.controls.location.dirty">Location cannot be blank</div>
  </div>

  <h2>This room can accomodate:</h2>

  <div class="form-group" *ngFor="let layout of layouts">
    <label>{{layout[1]}}</label>
    <input class="form-control" type="number" id="layout{{layout[0]}}" formControlName="layout{{layout[0]}}" />
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="roomForm!.invalid">Save</button>
</form>
