<!--hero section start-->
<section class="hero blog_hero">
  <div class="hero__wrapper blog_hero__wrapper">
    <div class="container">
      <div class="row">
        <div>
          <h1>Our blog.</h1>
        </div>
        <div>
          <ul>
            <li><a [routerLink]="['/']">Home</a></li>
            <li><a [routerLink]="['/blogs']"><i class="fad fa-long-arrow-right"></i>Blog</a></li>
          </ul>
          <div class="icon">
            <i class="fad fa-bullhorn"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--hero section end-->

<!--blog start-->
<section class="blog">
  <div class="blog__wrapper">
    <div class="container">
      <div class="blog__header">
        <div class="row">
          <div class="col-lg-3">
            <div class="category__dropdown dropdown-wrapper">
              <div class="category__dropdown-info dropdown-info">
                <h6>{{selectedCategory.name}}</h6>
                <i class="fad fa-angle-double-down"></i>
              </div>
              <div class="category__dropdown-box dropdown-box">
                <ul>
                  <li (click)="handleSelectCategory(DEFAULT_CATEGORY, $event)">All</li>
                  <li (click)="handleSelectCategory(cat, $event)" *ngFor="let cat of categories">{{cat.name}}</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="search">
              <input type="text" placeholder="Search" class="input-field" (change)="searchBlog()" [(ngModel)]="searchText">
              <i class="fad fa-search"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="blog__content">
      <div class="container">
        <div class="row">
          <div class="{{blog.cssClass}}" *ngFor="let blog of filteredBlogs">
            <a [routerLink]="['/blogs', blog.blog.id]">
              <div class="blog__single blog__single--1">
                <div class="blog__single-image">
                  <img src="{{blog.blog.smallImageUrl}}" alt="image">
                </div>
                <div class="blog__single-info">
                  <h3>{{blog.blog.title}}</h3>
                  <h4>{{blog.blog.date | date: 'mediumDate'}}</h4>
                  <p class="paragraph dark">{{blog.blog.shortText}}</p>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <a href="#" class="button">
      <span>LOAD MORE <i class="fad fa-long-arrow-right"></i></span>
    </a>
  </div>
</section>
<!--blog end-->
