* {
  box-sizing: border-box;
}

html {
  --primary-color: #2D7DFF;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: Poppins, Helvetica, serif;
}

body {
  background: linear-gradient(220deg, rgba(189,0,255,1) 0%, rgba(0,163,255,1) 100%) fixed;
  height: 100vh;
}
