<div class="container">
  <div class="header">
    <div class="subheader">
      <div class="subheader-content">
        <div class="title">
          Got marketing? <br />
          Advance your business insight.
        </div>
        <div class="subtitle">
          Fill out form and receive our award winning newsletter.
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="content-container">
      <div class="input-controls">
        <div class="control">
          <label>Name</label>
          <input type="text" />
        </div>
        <div class="control">
          <label>Email</label>
          <input type="email" />
        </div>
      </div>
      <div class="control">
        <input type="button" value="Sign me up" />
      </div>
    </div>
  </div>
</div>
