div.container {
  height: 100vh;
}

div.header {
  background-image: url("/assets/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  color: white;
}

div.subheader {
  width: 100%;
  height: 100%;
  background: rgba(82,0,255,0.78);
  overflow: hidden;
  height: 100%;
  z-index: 2;
  display: grid;
  place-items: center;
}

div.subheader-content {
  padding: 5rem 2rem;
}

div.title {
  font-size: 3rem;
  font-family: "Bebas Neue", Helvetica, serif;
}

div.subtitle {
  margin-top: 3rem;
  font-size: 1.2rem;
}

div.content {
  padding: 1rem;
}

div.control {
  padding: 1rem;
}

label {
  display: block;
  font-size: .8rem;
}

input {
  margin-top: .3rem;
  background: #EDEDED;
  border: 1px solid #C7C7C7;
  box-sizing: border-box;
  height: 3rem;
  width: 100%;
}

input[type="button"] {
  background-color: #5200FF;
  color: white;
  height: 3rem;
  font-size: .8rem;
}

@media only screen and (min-width:501px) {
  input[type="button"] {
    padding: 0 2rem;
    width: auto;
  }
}


@media only screen and (min-width:501px) and (max-width: 1000px) {
  div.container {
    min-width: 501px;
  }

  div.subheader-content {
    padding: 10rem;
  }

  div.input-controls {
    display: flex;
  }

  div.input-controls div.control {
    width: 100%;
  }
}

@media only screen and (min-width: 1001px) {
  div.container {
    min-width: auto;
    width: 100%;
    display: flex;
  }

  div.header {
    width: 50%;
  }

  div.content {
    width: 50%;
    display: grid;
    place-items: center;
  }

  div.content-container {
    width: 70%;
  }
}
