<section class="contact">
  <h3>Register for the event</h3>
  <div class="cols-2">
    <div class="form-container">
      <div class="form-el">
        <label for="name">Name</label>
        <input type="text" id="name" />
      </div>
      <div class="form-el">
        <label for="email">Email</label>
        <input type="email" id="email" />
      </div>
      <button>Register now!</button>
    </div>
    <div class="other-info">
      <ul>
        <li>1-555-555-1234</li>
        <li>
          <a href="#">asdf@asdf.com</a>
        </li>
      </ul>
    </div>
  </div>
</section>
